

.qrcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  
}

.qrcontainer svg {
  width: 110px;
   margin-bottom: 10px;
 margin-top: 10px;
}


.max-width-for-main {
  max-width: 550px;
}


main {
  background: #afafaf;
  display: flex;
  padding: 100px;
  flex-direction: row;
}

.canvas {
  order: 2;
  flex: 1;
  margin-top: -100px;
  height: 100vh !important;
}

.overlay {
  position: relative;
  order: 1;
  flex: 1;
  pointer-events: none;
}

svg {
  width: 100%;
  height: 100%;
}

.bg-height {
  min-height: 100vh
}

@media only screen and (max-aspect-ratio: 8/7) {
  main {
    flex-direction: column;
    padding: 10px;
  }
  .canvas {
    flex: none;
    margin-top: -50px;
    order: 0;
    height: 100% !important;
  }
 
}


@media only screen and (max-width: 768px) {
  main {
    padding: 20px;
  }
}
