#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.qrcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column
  ;
}

.qrcontainer svg {
  width: 110px;
  margin-bottom: -60px;
  margin-top: -60px;
}


.max-width-for-main {
  max-width: 550px;
}